<hr />
<div class="col-md-12">
  <button (click)="Guess('Q')" class="key btn btn-primary">Q</button>
  <button (click)="Guess('W')" class="key btn btn-primary">W</button>
  <button (click)="Guess('E')" class="key btn btn-primary">E</button>
  <button (click)="Guess('R')" class="key btn btn-primary">R</button>
  <button (click)="Guess('T')" class="key btn btn-primary">T</button>
  <button (click)="Guess('Y')" class="key btn btn-primary">Y</button>
  <button (click)="Guess('U')" class="key btn btn-primary">U</button>
  <button (click)="Guess('I')" class="key btn btn-primary">I</button>
  <button (click)="Guess('O')" class="key btn btn-primary">O</button>
  <button (click)="Guess('P')" class="key btn btn-primary">P</button>
  <span class="key"></span>
  <button (click)="Guess('DELETE')" class="key btn btn-primary">⬅️</button>
</div>
<div class="col-md-12">
  <button class="key btn btn-primary">&nbsp;</button>
  <button (click)="Guess('A')" class="key btn btn-primary">A</button>
  <button (click)="Guess('S')" class="key btn btn-primary">S</button>
  <button (click)="Guess('D')" class="key btn btn-primary">D</button>
  <button (click)="Guess('F')" class="key btn btn-primary">F</button>
  <button (click)="Guess('G')" class="key btn btn-primary">G</button>
  <button (click)="Guess('H')" class="key btn btn-primary">H</button>
  <button (click)="Guess('J')" class="key btn btn-primary">J</button>
  <button (click)="Guess('K')" class="key btn btn-primary">K</button>
  <button (click)="Guess('L')" class="key btn btn-primary">L</button>
  <span class="key"></span>

  <button
    *ngIf="true === true"
    (click)="Guess('ENTER')"
    class="key btn btn-primary"
  >
    Enter
  </button>
</div>
<div class="col-md-12">
  <button class="key btn btn-primary">&nbsp;</button>
  <button class="key btn btn-primary">&nbsp;</button>
  <button (click)="Guess('Z')" class="key btn btn-primary">Z</button>
  <button (click)="Guess('X')" class="key btn btn-primary">X</button>
  <button (click)="Guess('C')" class="key btn btn-primary">C</button>
  <button (click)="Guess('V')" class="key btn btn-primary">V</button>
  <button (click)="Guess('B')" class="key btn btn-primary">B</button>
  <button (click)="Guess('N')" class="key btn btn-primary">N</button>
  <button (click)="Guess('M')" class="key btn btn-primary">M</button>
</div>
