ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  border: 2px solid silver;
  float: left;
  display: block;
  text-align: center;
  padding: 16px;
  width: 120px;
  height: 120px;
  text-decoration: none;
}

li a:hover {
}
